<!DOCTYPE html>
<html>
  <%- include('head.html')%>
  <body>
    <%- include('nav.html')%>

    <h4 class="ml-2 my-3">todoList</h4>
    <div class="container input-group mb-2">
      <input id="searchInput" class="form-control" />
      <button id="search" class="input-group-append btn btn-danger">
        검색
      </button>
    </div>
    <ol class="list-group list-group-numbered">
      <% for(let i = 0; i < posts.length; i++){ %>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <a href="detail/<%= posts[i]._id %>">
            <div class="fw-bold"><%= posts[i].title %></div>
          </a>
          마감날짜 : <%= posts[i].date %>
        </div>
        <span
          id="delete"
          class="badge bg-primary rounded-pill"
          data-id="<%= posts[i]._id %>"
          >삭제</span
        >
      </li>
      <% } %>
    </ol>

    <%- include('script.html')%>
    <script>
      $("#delete").click((e) => {
        var nowEvent = $(e.target);
        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: e.target.dataset.id },
        })
          .done((result) => {
            nowEvent.parent("li").fadeOut();
          })
          .fail(() => {
            console.log("실패");
          });
      });

      $("#search").click(() => {
        let inputVal = $("#searchInput").val();
        window.location.replace(`/search?value=${inputVal}`);
      });
    </script>
  </body>
</html>
